@use '../abstract/variables' as var;

.qr-container {
  background: var.$white-color;
  border-radius: var.$border-radius;
  width: 100%;
  max-width: 20rem;
  text-align: center;
  padding: 1rem 0 2.5rem;
  filter: drop-shadow(var(--qr-drop-shadow));

  .qr-content {
	padding: 0 1rem;
	text-align: center;
  }

  @media (min-width: 23.4375em) {
	.qr-content {
	  padding: 0 2rem;
	}
  }

  @media (min-width: 90em) {
	.qr-content {
	  padding: 0 2rem;
	}
  }
}

