@use '../abstract/variables' as var;
@use '../abstract/mixins' as mixs;

body {
  margin: 0 auto;
  font-size: var.$base-font;
  background-color: var.$slate-300;
  @include mixs.outfit-font;

}

.attribution {
  font-size: 0.688rem;
  text-align: center;

  & a {
	color: var.$slate-blue;
  }

}